*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff;
}
.contenedor{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  border: solid 1px #fff;
  background-color:rgb(99, 98, 98);
  margin-top: 10px;

  flex-direction: row;
  /*flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse;*/
   flex-wrap: nowrap;
  flex-wrap: wrap;
  /* flex-flow: column wrap;*/ 

  justify-content:flex-start;
  /* justify-content: flex-end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly; */

   align-items: stretch;
  /* align-items: flex-start;
  /*align-items: end;
  align-items: center;
 */
  
 align-content: flex-start;
 /* align-content: flex-end;
 align-content: center;
 align-content: space-between;
 align-content: space-around;
 align-content: space-evenly; */
}
.contenedorv{
  background-color: rgb(83, 228, 83);
   width: 200px;
  height: 200px;
  text-align: center;
  border: solid 1px #000;
}


.contenedordos{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  border: solid 1px #fff;
  background-color:black;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.contenedora{
  background-color:rgb(83, 194, 228);
   width: 200px;
  height: 200px;
  text-align: center;
  border: solid 1px #000;
}
.contenedor .contenedorv:nth-child(3){
  background-color: slateblue;
  order: -1;

}
@media (max-width:800px) {
  .contenedor{
    background-color:#222;
    flex-direction: column;
  }
  .contenedor .contenedorv:nth-child(3){
    background-color: slateblue;
  order: -1;
  }
}